<div class="search-bar-box">
    <% if flash[:error] %>
        <p class="error"><%= flash[:error]%></p>
    <% end %>
    <h4>Search for Student:</h4>
        <%= form_tag(students_path, method: :get) do %>
            <%= text_field_tag :search, params[:search] %><br><br>
            <%= submit_tag "Search" %>
        <% end %>
</div>
<div class="search-result-box">
    <h1>Students</h1>
    <ul>
    <% @students.each do |student| %>
        <li><%= link_to student.name, student_path(student) %></li>
    <% end %>
    </ul>
</div>

