<div class="student-page">
    <div class="student-info"> 
        <h1><%= @student.name %></h1>
        <h2>Email: <%= @student.email %></h2>
        <h2>School: <%= link_to @student.school.name, school_path(@student.school) %></h2>

        <% if @student != @current_student %>
            <% if @friendship%>
                <%= button_to "Unfollow", friendship_path(@friendship), method: :delete %>
                <%# form_tag friendship_path(@friendship) method: :delete do %>
                    <%# hidden_field_tag :followee_id, @student.id%>
                    <%# submit_tag "Unfollow" %>
                <%# end %>
            <% else %>
                <%= form_tag friendships_path do %>
                    <%= hidden_field_tag :followee_id, @student.id %>
                    <%= submit_tag "Follow" %>
                <% end %>
            <%end%>
        <% end %>

        <% if @student == @current_student %>
            <%= button_to 'Edit Student', edit_student_path(@student), method: :get %>
            <%= button_to 'Delete Student', student_path(@student), method: :delete %>
        <% end %>
    </div>
    <div class="student-img"> 
        <% if @student.img_url.attached? %>
            <p><%= image_tag @student.img_url%></p>
        <% end %>
    </div>
    <div class="followers"> <h3>Followers:</h3>
        <% if @student == @current_student %>
            <ul>
                <% @current_student.followers.each do |student| %>
                    <li><%= link_to student.name, student_path(student) %></li>
                <% end %>
            </ul><br>
        <% else %>
            <ul>
                <% @student.followers.each do |student| %>
                    <li><%= link_to student.name, student_path(student) %></li>
                <% end %>
            </ul><br>
        <% end %>
    </div>
    <div class="following"> <h3>Following:</h3>
        <% if @student == @current_student %>
            <ul>
                <% @current_student.followees.each do |student| %>
                    <li><%= link_to student.name, student_path(student) %></li>
                <% end %>
            </ul>   
        <% else %> 
            <ul>
                <% @student.followees.each do |student| %>
                    <li><%= link_to student.name, student_path(student) %></li>
                <% end %>
            </ul>  
        <% end %>
    </div>
    <div class="current-courses"> <h3>Current Courses:</h3>
        <% if @current_student == @student %>
        <ul class="current"><% if @current_student.student_courses.count > 0 %>
                <% @current_student.student_courses.each do |student_course| %>
                    <% if !student_course.completed %>
                        <li>Course Number: <%= link_to student_course.course.name, course_path(student_course.course) %><br><br> 
                        <%= button_to "Complete Course", edit_student_course_path(student_course), method: :get %><br>
                        <%= button_to "Remove Course", student_course_path(student_course), method: :delete %></li>
                        <% student_course.course.school_courses.each do |sc| %>
                            <% if sc.course_id == student_course.course_id && sc.school_id == student_course.student.school.id %>
                                <p>Taught by: <%= sc.teacher %></p>
                            <% end %>
                        <% end %>
                    <% end %>
                <% end %>
            <% end %>
        </ul>
        <% else %>
            <ul class="current"><% if @student.student_courses.count > 0 %>
                <% @student.student_courses.each do |student_course| %>
                    <% if !student_course.completed %>
                        <li>Course Number: <%= link_to student_course.course.name, course_path(student_course.course) %></li>
                        <% student_course.course.school_courses.each do |sc| %>
                            <% if sc.course_id == student_course.course_id && sc.school_id == student_course.student.school.id %>
                                <p>Taught by: <%= sc.teacher %></p>
                            <% end %>
                        <% end %>
                    <% end %>
                <% end %>
            <% end %>
        </ul>
        <% end %>
    <br></div>
    <div class="completed-courses"> 
        <h3>Completed Courses:</h3>
        <% if @current_student == @student %>
            <ul class="completed" >
            <% @current_student.student_courses.each do |sc|%>
                <% if sc.completed %>
                    <li><%= link_to sc.course.name, course_path(sc.course) %> - Grade: <%= sc.grade %></li>
                    <p>Taken at: <%= link_to sc.school_course.school.name, school_path(sc.school_course.school) %></p>
                <% end %>
            <% end %>
            </ul>
        <% else %>
            <ul class="completed">
            <% @student.student_courses.each do |sc|%>
                <% if sc.completed %>
                    <li><%= link_to sc.course.name, course_path(sc.course) %> - Grade: <%= sc.grade %></li>
                    <p>Taken at: <%= link_to sc.school_course.school.name, school_path(sc.school_course.school) %></p>
                <% end %>
            <% end %>
            </ul>
        <% end %>
        <br>
    </div>
</div>