<h1><%= @student.name %></h1>
<h2>Email: <%= @student.email %></h2>
<h2>School: <%= @student.school.name %></h2>

<% if @student != @current_student%>
    <%= form_tag friendships_path do %>
        <%= hidden_field_tag :followee_id, @student.id %>
        <%= submit_tag "Follow" %>
    <% end %>
<% else %>
<h3>Followers:</h3>
    <ul>
        <% @current_student.followers.each do |student| %>
            <li><%= link_to student.name, student_path(student) %></li>
        <% end %>
    </ul><br>
<h3>Following:</h3>
    <ul>
        <% @current_student.followees.each do |student| %>
            <li><%= link_to student.name, student_path(student) %></li>
        <% end %>
    </ul>    
<% end %>

<h3>Current Courses:</h3>
<% if @current_student == @student %>
<ul><% if @current_student.student_courses.count > 0 %>
        <% @current_student.student_courses.each do |student_course| %>
            <% if !student_course.completed %>
                <li>Course Number: <%= link_to student_course.course.name, course_path(student_course.course) %><br><br> 
                <%= button_to "Complete Course", edit_student_course_path(student_course), method: :get %><br>
                <%= button_to "Remove Course", student_course_path(student_course), method: :delete %></li>
                <% student_course.course.school_courses.each do |sc| %>
                    <% if sc.course_id == student_course.course_id && sc.school_id == student_course.student.school.id %>
                        <p>Taught by: <%= sc.teacher %></p>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
    <% end %>
</ul>
<% else %>
    <ul><% if @student.student_courses.count > 0 %>
        <% @student.student_courses.each do |student_course| %>
            <% if !student_course.completed %>
                <li>Course Number: <%= link_to student_course.course.name, course_path(student_course.course) %></li>
                <% student_course.course.school_courses.each do |sc| %>
                    <% if sc.course_id == student_course.course_id && sc.school_id == student_course.student.school.id %>
                        <p>Taught by: <%= sc.teacher %></p>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
    <% end %>
</ul>
<% end %>
<br>

<h3>Completed Courses:</h3>
<% if @current_student == @student %>
    <ul>
    <% @current_student.student_courses.each do |sc|%>
        <% if sc.completed %>
            <li><%= sc.course.name %> - Grade: <%= sc.grade %></li>
            <p>Taken at: <%= sc.school_course.school.name %></p>
        <% end %>
    <% end %>
    </ul>
<% else %>
    <ul>
    <% @student.student_courses.each do |sc|%>
        <% if sc.completed %>
            <li><%= sc.course.name %> - Grade: <%= sc.grade %></li>
            <p>Taken at: <%= sc.school_course.school.name %></p>
        <% end %>
    <% end %>
    </ul>
<% end %>
<br>


<% if @student == @current_student %>
    <%= button_to 'Edit Student', edit_student_path(@student), method: :get %>
    <%= button_to 'Delete Student', student_path(@student), method: :delete %>
<% end %>
