<!DOCTYPE html>
<html>
  <head>
    <title>StudyBuddy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <nav>
        <ul>
            <li class="nav-tabs first-tab"><%= link_to "Schools", schools_path %></li>
            <li class="nav-tabs first-tab"><%= link_to "Courses", courses_path %></li>
            <li class="nav-tabs"><%= link_to "Enroll in Course", new_student_course_path %></li>
            WELCOME: <%= link_to @current_student.name, student_path(@current_student) %> 
            <%= button_to "LOG OUT", logout_path, method: :delete %>
          </ul>
      </nav>
    <% else %>
      <nav> 
        <ul>
          <li class="nav-tabs first-tab"><%= link_to "Schools", schools_path %></li>
          <li class="nav-tabs first-tab"><%= link_to "Courses", courses_path %></li>
          <%= link_to "LOGIN HERE", login_path %>
          <li class="nav-tabs right"><%= link_to "Sign Up", new_student_path %></li>
        </ul>
      </nav>
    <% end %>
    <%= yield %>
  </body>
</html>


